labs/sprint3-nodered-hello/nodered/data/flows.json
[
  {
    "id": "3c6ef35f4f95",
    "type": "tab",
    "label": "Hello World MQTT",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ef9830f80a31",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "host.docker.internal",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "88bb673f8db0",
    "type": "mqtt in",
    "z": "3c6ef35f4f95",
    "name": "Subscribe telemetry",
    "topic": "devices/+/telemetry",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "ef9830f80a31",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 120,
    "wires": [["6f4fbb2f4d8c"]]
  },
  {
    "id": "6f4fbb2f4d8c",
    "type": "json",
    "z": "3c6ef35f4f95",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 120,
    "wires": [["969f95ad88f8"]]
  },
  {
    "id": "969f95ad88f8",
    "type": "function",
    "z": "3c6ef35f4f95",
    "name": "Store latest + history",
    "func": "if (!msg.payload || typeof msg.payload !== \"object\") {\n  return null;\n}\n\nconst latest = msg.payload;\nconst history = global.get(\"tempHistory\") || [];\n\nhistory.push({\n  ts: latest.ts,\n  temp_c: Number(latest.temp_c)\n});\n\nif (history.length > 60) {\n  history.shift();\n}\n\nglobal.set(\"latestTelemetry\", latest);\nglobal.set(\"tempHistory\", history);\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 120,
    "wires": [["4fcc6f8dd52f"]]
  },
  {
    "id": "4fcc6f8dd52f",
    "type": "debug",
    "z": "3c6ef35f4f95",
    "name": "Telemetry debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 120,
    "wires": []
  },
  {
    "id": "9fd8fdf3076b",
    "type": "http in",
    "z": "3c6ef35f4f95",
    "name": "Hello UI",
    "url": "/hello-ui",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 240,
    "wires": [["2828944f43f4"]]
  },
  {
    "id": "2828944f43f4",
    "type": "function",
    "z": "3c6ef35f4f95",
    "name": "Render HTML",
    "func": "const latest = global.get(\"latestTelemetry\") || null;\nconst history = global.get(\"tempHistory\") || [];\n\nconst safe = (value) => String(value ?? \"\").replace(/[&<>\"']/g, (ch) => ({\n  '&': '&amp;',\n  '<': '&lt;',\n  '>': '&gt;',\n  '\\\"': '&quot;',\n  \"'\": '&#39;'\n}[ch]));\n\nlet chart = '<p>No telemetry yet.</p>';\nif (history.length > 0) {\n  const temps = history.map((p) => Number(p.temp_c));\n  const min = Math.min(...temps);\n  const max = Math.max(...temps);\n  const span = (max - min) || 1;\n  const width = 700;\n  const height = 220;\n\n  const points = history.map((p, idx) => {\n    const x = Math.round((idx / Math.max(history.length - 1, 1)) * width);\n    const y = Math.round(height - ((Number(p.temp_c) - min) / span) * height);\n    return `${x},${y}`;\n  }).join(' ');\n\n  chart = `<svg viewBox=\"0 0 ${width} ${height}\" width=\"100%\" height=\"220\" style=\"border:1px solid #ccc;background:#fff\"><polyline fill=\"none\" stroke=\"#1976d2\" stroke-width=\"2\" points=\"${points}\" /></svg><p>Range: ${min.toFixed(2)}°C to ${max.toFixed(2)}°C</p>`;\n}\n\nconst latestHtml = latest\n  ? `<pre>${safe(JSON.stringify(latest, null, 2))}</pre>`\n  : '<p>No telemetry yet.</p>';\n\nmsg.headers = {\n  'Content-Type': 'text/html; charset=utf-8'\n};\n\nmsg.payload = `<!doctype html><html><head><meta charset=\"utf-8\" /><title>Node-RED MQTT Hello</title><meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" /></head><body style=\"font-family:Arial,Helvetica,sans-serif;margin:20px;max-width:900px\"><h1>MQTT Hello World Dashboard</h1><p>Topic: <code>devices/+/telemetry</code></p><h2>Latest message</h2>${latestHtml}<h2>Temperature chart (last ${history.length} points)</h2>${chart}</body></html>`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [["e6fdd6f66d99"]]
  },
  {
    "id": "e6fdd6f66d99",
    "type": "http response",
    "z": "3c6ef35f4f95",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 610,
    "y": 240,
    "wires": []
  }
]
